html {
    min-width: auto;
    min-height: auto;
    background-color: aquamarine;
    box-shadow: inset 0 0 55rem green;
    height: auto;
}

.advertisement {
    text-align: center;
    font-size: xx-small;
    color: blueviolet;
}

/* Submitted and coded by Jagadeesh Kumar . S, you may send mail to my email address which is jagadeesh_2k17@proton.me and you may contribute some money to my Indian Unified Payment Interface (UPI) which is jagadeesh-kumar@airtel . */
.content {
    text-align: center;
    padding: 30px;
    margin: 0px auto;
}

.details {
    margin-left: auto;
    margin-right: auto;
}

img {
    border-radius: 5px;
    box-shadow: black;
}

/* Submitted and coded by Jagadeesh Kumar . S, you may send mail to my email address which is jagadeesh_2k17@proton.me and you may contribute some money to my Indian Unified Payment Interface (UPI) which is jagadeesh-kumar@airtel . */
table,
td {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}